.class-to-do{
    // This is the Mobile

    background-color: red;

    @include mq(tablet){
        // This code for tablet
        background-color: green;
    }

    @include mq(desktop){
        // This code for desktop
        background-color: blue;
    }
}